<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Two</title>
</head>
<body>
    <h1>AppTwo</h1>
    <p>About us:</p>
    <p>Our company is supervised by [{{ company_name }}]</p>

    <p>Our Organization:</p>
    <ul{% for colabs, value in collaborators.items %}
        <li> Name: {{ colabs }} -- Level: {{ value }}</li>
        {% endfor %}</ul>
    
</body>
</html>