<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Two</title>
</head>
<body>
    <h1>Index App Two</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo est, dolorum ea voluptate aut aliquam aspernatur totam consequuntur sunt inventore autem quaerat quisquam? Doloribus quibusdam eveniet saepe, ducimus repudiandae veniam!</p>
</body>
</html>